* {
  margin: 0;
  padding: 0;
}

body {
  align-items: center;
  background-color: #2a2731;
  box-sizing: border-box;
  color: white;
  display: flex;
  flex-direction: column;
  font-family: "Sora", sans-serif;
  font-size: 18px;
  height: 100vh;
  justify-content: center;
  overflow: hidden;
  width: 100vw;
}

.middleground {
  background-color: #201e27;
  border-radius: 20px;
  height: 90%;
  width: 95%;
}

header {
  align-items: center;
  display: flex;
  height: 10%;
  justify-content: space-around;
  padding: 0 50px;
}

.page-title {
  font-family: "Shrikhand", cursive;
  font-size: 43px;
}

input {
  background-color: rgb(238, 238, 238);
  border-radius: 10px;
  border: none;
  cursor: pointer;
  filter: invert(1);
  font-size: 16px;
  padding: 20px 30px;
}

input:focus {
  outline-color: rgb(80, 80, 80);
}

.foreground {
  background-color: #17151c;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  height: 80%;
  margin: 0 auto;
  padding: 23px 120px;
  width: 80%;
}

.section__media {
  align-items: center;
  background-color: #2a2731;
  border-radius: 20px;
  border: solid 1px rgb(235, 228, 219);
  display: flex;
  height: 60%;
  justify-content: center;
  margin: 0 auto;
  position: relative;
  width: 90%;
}

.apod {
  border-radius: 20px;
  height: 100%;
  max-height: 350px;
  max-width: 700px;
  object-fit: contain;
  padding: 20px;
  width: 100%;
}

.image__title {
  background: linear-gradient(180deg, #2a2731 30%, #17151c 52%);
  bottom: -35px;
  font-family: "Shrikhand", cursive;
  font-size: 40px;
  font-weight: normal;
  padding: 0 50px;
  position: absolute;
}

.section__info {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 20px;
  height: 40%;
  justify-content: space-between;
  margin: 0 auto;
  padding: 50px 30px 20px;
  width: 90%;
}

.informations {
  align-items: center;
  display: flex;
  gap: 40px;
  height: 20%;
  width: 100%;
}
.information__group {
  align-items: baseline;
  display: flex;
  gap: 15px;
  height: 100%;
  text-align: center;
}

.label {
  align-items: center;
  font-size: 18px;
}

.description {
  font-size: 14px;
}

.descriptions {
  display: flex;
  flex-direction: column;
  gap: 20px;
  height: 80%;
  justify-content: center;
  width: 100%;
}

.footer {
  align-self: center;
  display: flex;
  font-size: 14px;
  margin-top: 30px;
}

a {
  cursor: pointer;
  text-decoration: none;
  color: white;
}

a:active,
a:focus {
  border: none;
  text-decoration: none;
}

@media (max-width: 1400px) {
  .foreground {
    padding: 25px 100px;
  }
  .image__title {
    font-size: 35px;
    line-height: 57px;
  }
  .section__info {
    padding: 30px;
  }
}
@media (max-width: 1200px) {
  .foreground {
    padding: 25px 80px;
  }
  .image__title {
    font-size: 28px;
  }
  .section__info {
    gap: 10px;
    padding: 30px 20px 20px;
  }
}

@media (max-width: 992px) {
  .page-title {
    font-size: 25px;
  }
  .logo {
    transform: scale(0.8);
  }
  input {
    padding: 13px;
  }
  .foreground {
    padding: 25px 60px;
  }
  .image__title {
    font-size: 23px;
  }
  .description {
    font-size: 12px;
  }
  .label {
    font-size: 16px;
  }
}
@media (max-width: 880px) {
  .foreground {
    padding: 25px 30px;
  }
  .image__title {
    font-size: 18px;
    line-height: 50px;
    padding: 0 20px;
  }
  .apod {
    padding: 0;
    transform: scale(0.85);
  }
  .label {
    font-size: 14px;
  }
  .description {
    font-size: 10px;
  }
  .information__group {
    align-items: flex-end;
    display: flex;
  }
  .footer {
    margin-top: 20px;
  }
}
@media (max-width: 576px) {
  header {
    padding: 0;
  }
  .logo {
    display: flex;
    transform: scale(0.4);
  }
  .page-title {
    display: none;
  }
  .image__title {
    bottom: -27px;
    font-size: 12px;
    line-height: 43px;
    padding: 0 10px;
  }
  input {
    padding: 10px;
  }
  .description {
    overflow: auto;
  }
  .informations {
    align-items: flex-start;
    flex-direction: column;
    gap: 5px;
  }
}

@media (max-width: 380px) {
  .page-title {
    bottom: -7px;
    line-height: 10px;
    padding: 5px;
  }
  input {
    font-size: 10px;
    padding: 5px;
  }
}
